@import "./mixins";


header{
    width: 100%;
    height: 90vh;
    background: white url(../Images/Background/valoCover.jpg) no-repeat center center fixed; 
    background-size: cover;
    position: relative;
    @include flexBox(center,center,row);
    &::before{
        content: "";
        width: 100%; height: 100%;
        position: absolute;
        background-color: black;
        filter: opacity(.5);
    }
}
.header-container{
    text-align: center;
    z-index: 97;
    h2,p{
        color: $whiteHeaders;
    }
    h2{ 
        font-size: clamp(1rem, 4.75rem, 10vw);
        padding: .5rem;
    }
    p{
        margin-top: 1rem;
        padding: 0rem 1.5rem;
    }
}
.header-btn{
    width:100%;
    margin-top:3rem;
    button{
        padding: .7rem 2rem;
        margin-right: 1rem;
        border: 2px solid white;
        border-radius: .2rem;
        background-color: rgba(0, 0, 0, 0.205);
        font-size: clamp(1rem, 1.2rem, 4vw);
        color: $whiteHeaders;
        transition: all .3s ease-out;
        &:hover{
            background-color:$textHover;
            border: 2px solid $textHover;
        }
    }
}
